* {
  margin: 0;
  padding: 0;
}

.signup-container {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-form {
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  border: 1px solid black;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.signup-form h1 {
  font-size: 24px;
  align-self: center;
}

.signup-form p {
  margin-top: 25px;
  font-size: 20px;
}

.signup-form input {
  padding: 5px;
  height: 2em;
}

.signup-form .signup-btn {
  margin-top: 25px;
  height: 30px;
  width: 60px;
  align-self: flex-end;
}

.login {
  width: 50px;
  text-decoration: none;
  color: brown;
}